<div class="ai1ec-admin-view-settings ai1ec-clearfix">
	<label>{{ label }}</label>
	<div>
		<table>
			<thead>
				<tr class="ai1ec-admin-view-head">
					<th></th>
					<th>{{ 'Enabled'|__ }}</th>
					<th>{{ 'Default'|__ }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
					{% for view, args in views %}
					<tr>
						<td>
							{{ args.longname }}
						</td>
						<td class="ai1ec-control-table-column">
							<input class="checkbox ai1ec-toggle-view" type="checkbox" name="view_{{ view }}_enabled" value="1"
								{{ args.enabled }} />
						</td>
						<td class="ai1ec-control-table-column">
							<input class="ai1ec-toggle-default-view" type="radio" name="default_calendar_view" value="{{ view }}"
								{{ args.default }}>
						</td>
						<td class="ai1ec-control-table-column">

						</td>
					</tr>
					{% endfor %}

			</tbody>
		</table>
	</div>
</div>
