<label class="textinput" for="{{ id }}">{{ label }}</label>
{% if append is defined %}
	<div class="ai1ec-input-group">
{% endif %}
{% from 'form-elements/input.twig' import input %}
{% spaceless %}
{{ input( id, id, value, 'text', input_args ) }}
{% if licence_valid is defined %}
	{% if licence_valid == true %}
		<i class='ai1ec-fa ai1ec-fa-check'></i>
	{% else %}
		<i class='ai1ec-fa ai1ec-fa-power-off'></i>
	{% endif %}
{% endif %}
{% if append is defined %}
  <span class="ai1ec-input-addon">{{ append }}</span>
</div>
{% endif %}
{% endspaceless %}
{% if help is defined %}
<span class="ai1ec-help-block">
	{{ help | raw }}
</span>
{% endif %}
