<ul class="ai1ec-nav ai1ec-nav-tabs
	{% if stacked %}ai1ec-nav-stacked ai1ec-pull-left{% endif %}">

	{% for id, data in tabs %}
		{% if data.items is defined %}
			<li class="ai1ec-dropdown">
				<a href="#" data-toggle="ai1ec-dropdown">
					{{ data.name }}<i class="ai1ec-fa ai1ec-fa-caret-down"></i>
				</a>
				<ul class="ai1ec-dropdown-menu">
					{% for drop_id, drop_name in data.items %}
						<li>
							<a href="#ai1ec-{{ drop_id }}" data-toggle="ai1ec-tab">
								{{ drop_name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li>
				<a href="#ai1ec-{{ id }}" data-toggle="ai1ec-tab">{{ data.name }}</a>
			</li>
		{% endif %}
	{% endfor %}

</ul>

<div class="ai1ec-tab-content ai1ec-boxed-tabs {{ content_class }}">
	{% for id, data in tabs %}
		<div class="ai1ec-tab-pane" id="ai1ec-{{ id }}">
			{% if hide_name is not empty %}
				<h2>{{ data.name }}</h2>
			{% endif %}
			{% for element in data.elements %}
				{{ element.html | raw }}
			{% endfor %}
		</div>
	{% endfor %}
</div>

{% block extra_html %}
{% endblock %}
