<div class="timely ai1ec-taxonomy-header ai1ec-hide">
	<ul class="ai1ec-nav ai1ec-nav-tabs">
		{% set edit_url  = '' %}
		{% set edit_label = '' %}
		{% for taxonomy in taxonomies %}
			{% if taxonomy.edit_url is not empty %}
				{% set edit_url = taxonomy.edit_url %}
				{% set edit_label = taxonomy.edit_label %}
			{% endif %}
			<li class="{% if taxonomy.active %}ai1ec-active{% endif %}
				ai1ec-taxonomy-{{ taxonomy.taxonomy_name }}">
				<a href="{{ taxonomy.url | e('html_attr') }}">
				{% if taxonomy.icon is not empty %}
					<i class="{{ taxonomy.icon | e('html_attr') }}"></i>
				{% endif %}
				{{ taxonomy.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% if edit_url is not empty %}
	<a class="ai1ec-taxonomy-edit-link ai1ec-hide button button-primary timely"
		href="{{ edit_url | e('html_attr') }}">
		<i class="ai1ec-fa ai1ec-fa-pencil"></i> {{ edit_label }}
	</a>
{% endif %}
