{% extends "theme-options/base_option.twig" %}
{% block variable %}
<div class="input-append color colorpickers" data-color="{{ value }}" data-color-format="{{ format }}">
	<input type="text" id="{{ id }}" name="{{ id }}" class="span2" {{ readonly }} value="{{ value }}"/>
	<span class="add-on"><i style="background-color: {{ value }}"></i></span>
</div>
{% endblock %}
