<div class="message {{class}}">
	{% if label %}
	<h3>{{ label }}</h3>
	{% endif %}

	{% autoescape false %}
		{{ message }}
	{% endautoescape %}

	{% if button %}
		<div><input type="button" class="button {{ button.class }}" value="{{ button.value }}" /></div>
		<p></p>
	{% endif %}
</div>