{{ args.before_widget }}

{% if title is not empty %}
	{{ ( before_title ~ title ~ after_title ) | raw }}
{% endif %}

<div class="timely ai1ec-agenda-widget-view"><div class="clearfix">

	{% if dates is empty %}
		<p class="ai1ec-no-results">
			{{ 'There are no upcoming events.' | __ }}
		</p>
	{% else %}
		<div>
			{% for date, date_info in dates %}
				<div class="ai1ec-date
					{% if date_info.today is not empty %}ai1ec-today{% endif %}">
					<a class="ai1ec-date-title ai1ec-load-view"
						href="{{ date_info.href | e('html_attr') }}">
						<div class="ai1ec-month">{{ date | month }}</div>
						<div class="ai1ec-day">{{ date | day }}</div>
						<div class="ai1ec-weekday">{{ date | weekday }}</div>
						{% if show_year_in_agenda_dates %}
							<div class="ai1ec-year">{{ date | year }}</div>
						{% endif %}
					</a>
					<div class="ai1ec-date-events">
						{% for category in date_info.events %}
							{% for event in category %}
								<div class="ai1ec-event
									ai1ec-event-id-{{ event.get( 'post_id' ) }}
									ai1ec-event-instance-id-{{ event.get( 'instance_id' ) }}
									{% if event.allday %}ai1ec-allday{% endif %}">

									<a href="{{ event.get_runtime( 'instance_permalink' ) | e('html_attr') }}"
										class="ai1ec-popup-trigger">
										{% if event.allday %}
											<span class="ai1ec-allday-badge">
												{{ 'all-day' | __ }}
											</span>
										{% else %}
											<span class="ai1ec-event-time">
												{{ event.get_runtime( 'start_time' ) }}
											</span>
										{% endif %}

										<span class="ai1ec-event-title">
											{{ event.get_runtime( 'filtered_title' ) }}
											{% if show_location_in_title and event.get( 'venue' ) is not empty %}
												<span class="ai1ec-event-location"
													>{{ '@ %s' | __ | format( event.get( 'venue' ) ) }}</span>
											{% endif %}
										</span>
									</a>

									<div class="ai1ec-popup hide">
										{% set category_colors = event.get_runtime( 'category_colors' ) %}
										{% if category_colors is not empty %}
											<div class="ai1ec-color-swatches">{{ category_colors }}</div>
										{% endif %}

										<span class="ai1ec-popup-title popover-title">
											<a href="{{ event.get_runtime( 'instance_permalink' ) | e('html_attr') }}"
												>{{ event.get_runtime( 'filtered_title' ) | truncate }}</a>
											{% if show_location_in_title and event.get( 'venue' ) is not empty %}
												<span class="ai1ec-event-location"
													>{{ '@ %s' | __ | format( event.get( 'venue' ) ) }}</span>
											{% endif %}
											{% if is_ticket_button_enabled and event.get( 'ticket_url' ) is not empty %}
												<a class="pull-right btn btn-primary btn-mini
													ai1ec-buy-tickets"
													target="_blank"
													href="{{ event.get( 'ticket_url' ) | e('html_attr') }}"
													>{{ event.get_runtime( 'ticket_url_label' ) }}</a>
											{% endif %}
										</span>

										{% set edit_post_link = event.get_runtime( 'edit_post_link' ) %}
										{% if edit_post_link is not empty %}
											<a class="post-edit-link"
												href="{{ edit_post_link | raw }}">
												<i class="icon-pencil"></i> {{ 'Edit' | __ }}
											</a>
										{% endif %}

										<div class="ai1ec-event-time">
											{{ event | timespan( 'short' ) | raw }}
										</div>

										{{ event | avatar( [
											'post_thumbnail',
											'content_img',
											'location_avatar',
											'category_avatar'
											], 'alignleft' ) | raw }}

										{% set post_excerpt = event.get_runtime( 'post_excerpt' ) | trim %}
										{% if post_excerpt is not empty %}
											<div class="ai1ec-popup-excerpt">{{ post_excerpt }}</div>
										{% endif %}
									</div>

								</div>
							{% endfor %} {# event in category #}
						{% endfor %} {# category in date_info.events #}
					</div>
				</div>
			{% endfor %} {# date, date_info in dates #}
		</div>
	{% endif %} {# dates is not empty #}

	{% if show_calendar_button or show_subscribe_buttons %}
		<p>
			{% if show_calendar_button %}
				<a class="btn btn-mini pull-right ai1ec-calendar-link"
					href="{{ calendar_url | e('html_attr') }}">
					{{ 'View Calendar' | __ }}
					<i class="icon-arrow-right"></i>
				</a>
			{% endif %}

			{% if show_subscribe_buttons %}
				{% include 'subscribe-buttons.twig' with {
					'button_classes':  'btn-mini',
					'export_url':      subscribe_url,
					'subscribe_label': 'Add' | __,
					'google_label':    'Add' | __
				} %}
			{% endif %}
		</p>
	{% endif %} {# show_calendar_button or show_subscribe_buttons #}

</div></div>

{{ args.after_widget }}
