<div class="timely">
<h5 style="margin:0;">
	Event List (from {{ start.format( 'Y-m-d' ) }} to {{ end.format( 'Y-m-d' ) }})
</h5>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Venue</th>
            <th>Country</th>
            <th>Address</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td rowspan="2">{{ event.post.post_title }}</td>
            <td>{{ event.venue }}</td>
            <td>{{ event.country }}</td>
            <td>{{ event.address }}</td>
            <td>{{ event.start.format( 'Y-m-d H:i:s (O)' ) }}</td>
            <td>{{ event.end.format( 'Y-m-d H:i:s (O)' ) }}</td>
        </tr>
        <tr>
		  <td colspan="5">{{ event.post.post_content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
