{% autoescape false %}
{{ navigation }}
<table class="ai1ec-oneday-view-original">
	<thead>
		<tr>
			{% for day in cell_array %}
				<th class="ai1ec-weekday {% if day.today %}ai1ec-today{% endif %}">
					{% if show_reveal_button %}
						<div class="ai1ec-reveal-full-day">
							<button class="btn btn-small ai1ec-tooltip-trigger"
								data-placement="left"
								title="{{ 'Reveal full day'|__|e }}">
								<i class="icon-resize-full icon-large"></i>
							</button>
						</div>
					{% endif %}
					<span class="ai1ec-weekday-date">{{ date|weekday }}</span>
				</th>
			{% endfor %}
		</tr>
		<tr>
			{% for day in cell_array %}
				<td class="ai1ec-allday-events {% if day.today %}ai1ec-today{% endif %}">

					{% if loop.first %}
						<div class="ai1ec-allday-label">{{ 'All-day'|__|e }}</div>
					{% endif %}

					{% for event in day.allday %}
						<a href="{{ event.get_runtime( 'instance_permalink' )|e('html_attr') }}"
							{{ data_type_events }}
							data-instance-id="{{ event.get( 'instance_id' ) }}"
							class="ai1ec-event-container ai1ec-load-event ai1ec-popup-trigger
								ai1ec-event-id-{{ event.get( 'post_id' ) }}
								ai1ec-event-instance-id-{{ event.get( 'instance_id' ) }}
								ai1ec-allday
								{% if event.multiday %}ai1ec-multiday{% endif %}"
							>
							<div class="ai1ec-event"
								style="{{ event.get_runtime( 'color_style' )|e('html_attr') }}">
								<span class="ai1ec-event-title">
									{{ event.get_runtime( 'filtered_title' )|e }}
									{% if show_location_in_title and not ( event.get( 'venue' ) is empty ) %}
										<span class="ai1ec-event-location"
											>{{ '@ %s'|__|format( event.get( 'venue' ) )|e }}</span>
									{% endif %}
								</span>
							</div>
						</a>

						<div class="ai1ec-popup hide ai1ec-popup-in-oneday-view">
							{% if event.get_runtime( 'category_colors' ) %}
							  <div class="ai1ec-color-swatches">{{ event.get_runtime( 'category_colors' ) }}</div>
							{% endif %}

							<span class="ai1ec-popup-title popover-title">
								<a href="{{event.get_runtime( 'instance_permalink' )|e('html_attr') }}"
									>{{ event.get_runtime( 'filtered_title' )|truncate|e }}</a>
								{% if show_location_in_title and not ( event.get( 'venue' ) is empty ) %}
									<span class="ai1ec-event-location"
										>{{ '@ %s'|__|format( event.get( 'venue' ) )|e }}</span>
								{% endif %}
								{% if is_ticket_button_enabled and not ( event.get( 'ticket_url' ) is empty ) %}
									<a class="pull-right btn btn-primary btn-mini ai1ec-buy-tickets"
										target="_blank" href="{{ event.get( 'ticket_url' ) }}"
										>{{ event.get_runtime( 'ticket_url_label' ) }}</a>
								{% endif %}
							</span>
							<a class="post-edit-link"
								href="{{ event.get_runtime( 'edit_post_link' )|e('html_attr') }}">
								<i class="icon-pencil"></i> {{ 'Edit'|__ }}
							</a>

							<div class="ai1ec-event-time">
								{{ event.get( '_orig' )|timespan( 'short' ) }}
							</div>

							{{ event|avatar( [
								'post_thumbnail',
								'content_img',
								'location_avatar',
								'category_avatar'
							] ) }}

							{% if not event.get_runtime( 'post_excerpt' ) is empty %}
								<div class="ai1ec-popup-excerpt">{{ event.get_runtime( 'post_excerpt' )|e }}</div>
							{% endif %}
						</div><!-- .ai1ec-popup -->

					{% endfor %}<!-- endfor event in day.allday -->

				</td>
			
		</tr>
	</thead>
	<tbody>
		<tr class="ai1ec-oneday">
			<td {% if day.today %}class="ai1ec-today"{% endif %}>

				<div class="ai1ec-grid-container">
					{% for hour in 0..23 %}
						<div class="ai1ec-hour-marker
							{% if hour >= 8 and hour < 18 %}ai1ec-business-hour{% endif %}"
							style="top: {{ hour * 60 }}px;">
							<div>{{ hour|hour_to_timestamp|date_i18n( time_format )|e }}</div>
						</div>
						{% for quarter in 1..3 %}
							<div class="ai1ec-quarter-marker"
								style="top: {{ hour * 60 + quarter * 15 }}px;"></div>
						{% endfor %}
					{% endfor %}
					{% if day.today %}
						<div class="ai1ec-now-marker" style="top: {{ now_top }}px;">
							<div>
								{{ 'Now:'|__ }} {{ now_text }}
							</div>
						</div>
					{% endif %}
				</div>

				<div class="ai1ec-day">
					
					{% for day_array in day.notallday %}
					{% set event = day_array.event %}
						<a href="{{ event.get_runtime( 'instance_permalink' )|e('html_attr') }}"
							{{ data_type_events }}
							data-instance-id="{{ event.get( 'instance_id' ) }}"
							class="ai1ec-event-container ai1ec-load-event ai1ec-popup-trigger
								ai1ec-event-id-{{ event.get( 'post_id' ) }}
								ai1ec-event-instance-id-{{ event.get( 'instance_id' ) }}
								{% if event.get( 'start_truncated' ) %}ai1ec-start-truncated{% endif %}
								{% if event.get( 'end_truncated' ) %}ai1ec-end-truncated{% endif %}
								{% if event.get( '_orig' ).get( 'multiday' ) %}ai1ec-multiday{% endif %}"
							style="top: {{ day_array.top }}px;
								height: {{ day_array.height }}px;
								left: {{ day_array.indent * 16 + 54 }}px;
								{{ event.get_runtime( 'color_style' ) }}
								{% if event.faded_color %}
									{% set rgba1 = event.get_runtime( 'rgba_color ')|format( '0.05' ) %}
									{% set rgba3 = event.get_runtime( 'rgba_color ')|format( '0.3' ) %}
									border: 1px solid {{ event.get_runtime( 'faded_color ') }};
									border-color: {{ event.get_runtime( 'rgba_color ')|format( '0.5' ) }};
									background-image: -webkit-linear-gradient( top, {{ rgba1 }}, {{ rgba3 }} 50px );
									background-image: -moz-linear-gradient( top, {{ rgba1 }}, {{ rgba3 }} 50px );
									background-image: -ms-linear-gradient( top, {{ rgba1 }}, {{ rgba3 }} 50px );
									background-image: -o-linear-gradient( top, {{ rgba1 }}, {{ rgba3 }} 50px );
									background-image: linear-gradient( top, {{ rgba1 }}, {{ rgba3 }} 50px );
								{% endif %}
								">

							{% if event.get( 'start_truncated  ')%}
								<div class="ai1ec-start-truncator">◤</div>
							{% endif %}
							{% if event.get( 'end_truncated ') %}
								<div class="ai1ec-end-truncator">◢</div>
							{% endif %}

							<div class="ai1ec-event">
								<span class="ai1ec-event-time">{{ event.get_runtime( 'short_start_time' )|e }}</span>
								<span class="ai1ec-event-title">
									{{ event.get_runtime( 'filtered_title' )|e }}
									{% if show_location_in_title and not ( event.get( 'venue' ) is empty ) %}
										<span class="ai1ec-event-location"
											>{{ '@ %s'|__|format( event.get( 'venue' ) )|e }}</span>
									{% endif %}
								</span>
							</div>

						</a>

						<div class="ai1ec-popup hide ai1ec-popup-in-oneday-view">
							{% if event.get_runtime( 'category_colors' ) %}
							  <div class="ai1ec-color-swatches">{{ event.get_runtime( 'category_colors' ) }}</div>
							{% endif %}

							<span class="ai1ec-popup-title popover-title">
								<a href="{{event.get_runtime( 'instance_permalink' )|e('html_attr') }}"
									>{{ event.get_runtime( 'filtered_title' )|truncate|e }}</a>
								{% if show_location_in_title and not ( event.get( 'venue' ) is empty ) %}
									<span class="ai1ec-event-location"
										>{{ '@ %s'|__|format( event.get( 'venue' ) )|e }}</span>
								{% endif %}
								{% if is_ticket_button_enabled and not ( event.get( 'ticket_url' ) is empty ) %}
									<a class="pull-right btn btn-primary btn-mini ai1ec-buy-tickets"
										target="_blank" href="{{ event.get( 'ticket_url' ) }}"
										>{{ event.get_runtime( 'ticket_url_label' ) }}</a>
								{% endif %}
							</span>

							<a class="post-edit-link"
								href="{{ event.get_runtime( 'edit_post_link' )|e('html_attr') }}">
								<i class="icon-pencil"></i> {{ 'Edit'|__ }}
							</a>

							<div class="ai1ec-event-time">
								{{ event.get( '_orig' )|timespan( 'short' ) }}
							</div>

							{{ event|avatar( [
								'post_thumbnail',
								'content_img',
								'location_avatar',
								'category_avatar'
							] ) }}

							{% if not event.get_runtime( 'post_excerpt' ) is empty %}
								<div class="ai1ec-popup-excerpt">{{ event.get_runtime( 'post_excerpt' )|e }}</div>
							{% endif %}
						</div><!-- .ai1ec-popup -->
					{% endfor %}<!-- endfor event in day.notallday-->
				</div>
				{% endfor %}<!-- endfor day in cell_array-->
			</td>
		</tr>
	</tbody>
</table>
<div class="pull-right">{{ pagination_links }}</div>
{% endautoescape %}

