{% extends 'weekday.base.twig' %}

{{ navigation | raw }}
{{ cell_array.0.allday | length }}xx
<table class="ai1ec-{% block name %}{% endblock %}-view-original">
	<thead>
		<tr>
			{% for date, day in cell_array %}
				<th scope="col" class="ai1ec-weekday
					{% if day.today %}ai1ec-today{% endif %}">

{% block weekday_html %}
	<span class="ai1ec-weekday-date">{{ date | day }}</span>
	<span class="ai1ec-weekday-day">{{ date | weekday }}</span>
{% endblock weekday_html %}

					{% block weekday_html %}
						<a class="ai1ec-load-view" href="{{ day.href | e('html_attr') }}"
							{{ data_type | raw }}>
							<span class="ai1ec-weekday-date">{{ date.day }}</span>
							<span class="ai1ec-weekday-day">{{ date.weekday }}</span>
						</a>
					{% endblock weekday_html %}

{% block indent_multiplier 16 %}

					{% if loop.first %}
						<div class="ai1ec-allday-label">{{ text_all_day }}</div>
					{% endif %}

					{% for event in day.allday %}
						<a href="{{ event.get_runtime( 'instance_permalink' ) | e('html_attr') }}"
							{{ data_type_events | raw }}
							data-instance-id="{{ event.instance_id }}"
							class="ai1ec-event-container ai1ec-load-event ai1ec-popup-trigger
								ai1ec-event-id-{{ event.post_id }}
								ai1ec-event-instance-id-{{ event.instance_id }}
								ai1ec-allday
								{% if event.is_multiday %}ai1ec-multiday{% endif %}"
							>
							<div class="ai1ec-event"
								 style="{{ event.color_style | e('html_attr') }}">...
								<span class="ai1ec-event-title">
									{{ event.filtered_title }}
								</span>
							</div>
						</a>

						{% block event_popup %}
							{% include 'event-popup.twig'%}
						{% endblock event_popup %}

					{% endfor %} {# event in day.allday #}

				</td>
			{% endfor %} {# event in day.weekday #}
		</tr>
	</thead>
	
</table>

<div class="ai1ec-pull-left">{{ pagination_links | raw }}</div>
