{% if calendar_title is empty %}
	{% set calendar_title = text_calendar %}
{% endif %}
{% if timely_calendar_title is empty %}
	{% set timely_calendar_title = 'Copy this URL for your own Timely calendar or click to add to your rich-text calendar' %}
{% endif %}
{% if google_calendar_title is empty %}
	{% set google_calendar_title = text_add_google %}
{% endif %}
{% if outlook_calendar_title is empty %}
	{% set outlook_calendar_title = text_outlook %}
{% endif %}
{% if outlook_calendar_title is empty %}
	{% set outlook_calendar_title = 'Subscribe to this calendar in MS Outlook' | __ %}
{% endif %}
{% if apple_calendar_title is empty %}
	{% set apple_calendar_title = 'Subscribe to this calendar in Apple Calendar/iCal' | __ %}
{% endif %}
{% if plaintext_calendar_title is empty %}
	{% set plaintext_calendar_title = 'Subscribe to this calendar in another plain-text calendar' | __ %}
{% endif %}
<div class="ai1ec-subscribe-container ai1ec-btn-group ai1ec-pull-left">
	<button type="button" class="ai1ec-btn ai1ec-btn-default ai1ec-btn-sm ai1ec-dropdown-toggle ai1ec-subscribe {{ button_classes }}" data-toggle="ai1ec-dropdown">
		<i class="ai1ec-fa ai1ec-fa-rss ai1ec-fa-lg ai1ec-fa-fw"></i>
		{% if subscribe_label is not empty %}
			{{ subscribe_label }}
		{% else %}
			{% if is_filtered %}
				{{ text_filtered }}
			{% else %}
				{{ text_subscribe }}
			{% endif %}
		{% endif %}
		<span class="ai1ec-caret"></span>
	</button>
	{% set url = export_url | replace( {"webcal://": "http://"} ) ~ url_args %}
	<ul class="ai1ec-dropdown-menu" role="menu">
		<li>
			<a class="ai1ec-tooltip-trigger"
			   target="_blank"
			   data-placement="left"
			   href="{{ url | e('html_attr') }}"
			   title="{{ timely_calendar_title }}" >
				<i class="ai1ec-fa ai1ec-fa-calendar ai1ec-fa-lg ai1ec-fa-fw"></i>
				{% if timely_label is not empty %}
					{{ timely_label }}
				{% else %}
					{{ 'Add to Timely Calendar' | __ }}
				{% endif %}
			</a>
		</li>
		<li>
			<a class="ai1ec-tooltip-trigger"
			   target="_blank"
			   data-placement="left"
			   href="http://www.google.com/calendar/render?cid={{ url | url_encode | e('html_attr') }}"
			   title="{{ google_calendar_title }}" >
				<i class="ai1ec-fa ai1ec-fa-google-plus ai1ec-fa-lg ai1ec-fa-fw"></i>
				{% if google_label is not empty %}
					{{ google_label }}
				{% else %}
					{{ text_google }}
				{% endif %}
			</a>
		</li>
		<li>
			<a class="ai1ec-tooltip-trigger"
			   target="_blank"
			   data-placement="left"
			   href="{{ ( export_url_no_html ~ url_args ) | e('html_attr') }}"
			   title="{{ outlook_calendar_title }}" >
				<i class="ai1ec-fa ai1ec-fa-windows ai1ec-fa-lg ai1ec-fa-fw"></i>
				{% if outlook_label is not empty %}
					{{ outlook_label }}
				{% else %}
					{{ 'Add to Outlook' | __ }}
				{% endif %}
			</a>
		</li>
		<li>
			<a class="ai1ec-tooltip-trigger"
			   target="_blank"
			   data-placement="left"
			   href="{{ ( export_url_no_html ~ url_args ) | e('html_attr') }}"
			   title="{{ apple_calendar_title }}" >
				<i class="ai1ec-fa ai1ec-fa-apple ai1ec-fa-lg ai1ec-fa-fw"></i>
				{% if apple_label is not empty %}
					{{ apple_label }}
				{% else %}
					{{ 'Add to Apple Calendar' | __ }}
				{% endif %}
			</a>
		</li>
		<li>
			<a class="ai1ec-tooltip-trigger"
			   data-placement="left"
			   href="{{ ( export_url_no_html ~ url_args ) | e('html_attr') }}"
			   title="{{ plaintext_calendar_title }}" >
				<i class="ai1ec-fa ai1ec-fa-plus ai1ec-fa-fw"></i>
				{% if plaintext_label is not empty %}
					{{ plaintext_label }}
				{% else %}
					{{ 'Add to other calendar' | __ }}
				{% endif %}
			</a>
		</li>
	</ul>
</div>
