{% if available_views|length > 1 %}
<li class="ai1ec-views-dropdown dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">
		<img src="{{ ( current_view ~ '-view.png' )|theme_img_url }}"
			alt="{{ view_names[current_view] }}" />
		{{ view_names[current_view] }}
		<span class="caret"></span>
	</a>
	<div class="dropdown-menu">
		{% for key in available_views %}
			<div class="{% if key == current_view %}active{% endif %}"
				data-action="{{ key }}">
				<a id="ai1ec-view-{{ key }}"
					{{ data_type }}
					class="ai1ec-load-view {{ key }}"
					href="{{ available_views[key].href }}">
					<img src="{{ ( key ~ '-view.png' )|theme_img_url }}"
						alt="{{ available_views[key].desc }}" />
					{{ available_views[key].desc }}
				</a>
			</div>
		{% endfor %}
	</div>
</li>
{% endif %}
