<div class="timely ai1ec-single-event
	ai1ec-event-id-{{ event.get( 'post_id' ) }}
	{% if event.is_multiday %}ai1ec-multiday{% endif %}
	{% if event.is_allday %}ai1ec-allday{% endif %}">

<a name="ai1ec-event"></a>

<div class="ai1ec-event-details clearfix">

	<div class="clearfix">{{ back_to_calendar }}</div>

	<div class="ai1ec-time">
		<div class="ai1ec-label">{{ 'When:'|__ }}</div>
		<div class="ai1ec-field-value">{{ event.get_runtime( 'timespan_html' ) }}</div>
	</div>

	{% if recurrence %}
		<div class="ai1ec-recurrence">
			<div class="ai1ec-label">
				<i class="icon-repeat"></i>
				{{ 'Repeats:'|__ }}
			</div>
			<div class="ai1ec-field-value">
				{% if edit_instance_url is not empty %}
					<a class="ai1ec-edit-instance-link pull-right"
						href="{{ edit_instance_url }}">
						<i class="icon-pencil"></i>
						{{ edit_instance_text }}
					</a>
				{% endif %}
				{{ recurrence|capitalize }}
				{% if exclude is not empty %}
					<div class="ai1ec-exclude">
						{{ 'Excluding:'|__ }}
						{{ exclude }}
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}


	{% if map is not empty %}
		<div class="ai1ec-map pull-right">{{ map }}</div>
	{% endif %}

	{% if show_subscribe_buttons or event.get( 'ticket_url' ) is not empty %}
		<div class="ai1ec-actions pull-right btn-group">
			{% if event.get( 'ticket_url' ) is not empty %}
				<a href="{{ event.get( 'ticket_url' )|e('html_attr') }}" target="_blank"
					class="ai1ec-tickets btn btn-small btn-primary"
					>{{ event.get( 'tickets_url_label' ) }}</a>
			{% endif %}
			{% if show_subscribe_buttons %}
				<a class="btn btn-small ai1ec-subscribe"
					href="{{ subscribe_url|e('html_attr') }}"
					title="{{ 'Add this event to your favourite calendar program (iCal, Outlook, etc.)'|__ }}" >
					<i class="icon-plus"></i>
					{{ 'Add to Calendar'|__ }}</a>
				<a class="btn btn-small ai1ec-subscribe-google" target="_blank"
					href="{{ google_url|e('html_attr') }}"
					title="{{ 'Add this event to your Google Calendar'|__ }}">
					<i class="icon-google-plus icon-large"></i>
					{{ 'Add to Google'|__ }}
				</a>
				{% if show_email_subscribe %}
					<a class="btn btn-small ai1ec-subscribe-mail"
						href="#ai1ec_subscribe_email_modal"
						data-toggle="ai1ec_modal"
						title="{{ 'Get mail notifications for this event'|__ }}">
						<i class="icon-envelope icon-large"></i>
						{{ 'Email notification'|__ }}
					</a>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}

	{% if location is not empty %}
		<div class="ai1ec-location">
			<div class="ai1ec-label">{{ 'Where:'|__ }}</div>
			<div class="ai1ec-field-value">{{ location }}</div>
		</div>
	{% endif %}

	{% if event.get( 'cost' ) is not empty or event.is_free %}
	<div class="ai1ec-cost">
		<div class="ai1ec-label">{{ 'Cost:'|__ }}</div>
		<div class="ai1ec-field-value">
			{{ event.is_free ? 'Free'|__ : event.get( 'cost' ) }}
		</div>
	</div>
	{% endif %}

	{% if contact is not empty %}
		<div class="ai1ec-contact">
			<div class="ai1ec-label">{{ 'Contact:'|__ }}</div>
			<div class="ai1ec-field-value">{{ contact }}</div>
		</div>
	{% endif %}

	{% if categories is not empty %}
		<div class="ai1ec-categories">
			<div class="ai1ec-label ai1ec-hidden-narrow-phone" title="{{ 'Categories'|__ }}">
				<i class="icon-folder-open icon-large"></i>
			</div>
			<div class="ai1ec-label ai1ec-visible-narrow-phone">
				<i class="icon-folder-open"></i>
				{{ 'Categories:'|__ }}
			</div>
			<div class="ai1ec-field-value">{{ categories }}</div>
		</div>
	{% endif %}

	{% if tags is not empty %}
		<div class="ai1ec-tags">
			<div class="ai1ec-label ai1ec-hidden-narrow-phone" title="{{ 'Tags'|__ }}">
				<i class="icon-tags icon-large"></i>
			</div>
			<div class="ai1ec-label ai1ec-visible-narrow-phone">
				<i class="icon-tags"></i>
				{{ 'Tags:'|__ }}
			</div>
			<div class="ai1ec-field-value">{{ tags }}</div>
		</div>
	{% endif %}

</div>

{% if event.get_runtime( 'content_img_url' ) is empty %}
  {{ event|avatar( ['post_thumbnail', 'location_avatar', 'category_avatar'], 'timely alignleft', false ) }}
{% endif %}

</div>
